.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #Device_2 .thumbnailPadding {
  padding-left: 1.0px;
  padding-top: 1.0px;
  padding-right: 0.0px;
  padding-bottom: 0.0px;
  border-radius: 36.125px;
  width: 271.0px;
  height: 587.3767441860467px;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #Device_2 .scenarioScreenThumbnail {
  width: 271.0px;
  height: 587.3767441860467px;
  background-image: url("../../../snapshots/efa52c6b-f026-4a09-a86b-f45502db789b.png");
  background-size: 272.1137730553336px 587.3767441860467px;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #Device_2 {
  position: absolute;
  left: 0.0px;
  top: 1.7053025658242404E-13px;
  width: 273.0px;
  height: 589.3767441860467px;
}
_:-ms-fullscreen, :root .sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #Device_2 {
}
#t2909b9ca-a793-464b-b047-ba9680891272.transitionWrapper > svg > path:first-child {
  fill: #000000;
  stroke: none;
}
#t2909b9ca-a793-464b-b047-ba9680891272.transitionWrapper > svg > path {
  stroke: #000000;
  stroke-width: 1.0px;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #t2909b9ca-a793-464b-b047-ba9680891272 .transitionLinkIcon {
  left: 275.75px;
  top: 147.35284825429602px;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #Device_1 .thumbnailPadding {
  padding-left: 1.0px;
  padding-top: 1.0px;
  padding-right: 0.0px;
  padding-bottom: 0.0px;
  border-radius: 36.10327253218874px;
  width: 270.8261802575099px;
  height: 587.0px;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #Device_1 .scenarioScreenThumbnail {
  width: 270.8261802575099px;
  height: 587.0px;
  background-image: url("../../../snapshots/022f79e6-32b2-4c25-84c9-f2a631cad33d.png");
  background-size: 271.9392389373982px 1116.7761140094779px;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #Device_1 {
  position: absolute;
  left: 358.9999999999997px;
  top: 0.0px;
  width: 272.8261802575099px;
  height: 589.0px;
}
_:-ms-fullscreen, :root .sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #Device_1 {
}
#tf12b8d42-b66a-4a79-b08f-0b4690851109.transitionWrapper > svg > path:first-child {
  fill: #000000;
  stroke: none;
}
#tf12b8d42-b66a-4a79-b08f-0b4690851109.transitionWrapper > svg > path {
  stroke: #000000;
  stroke-width: 1.0px;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #tf12b8d42-b66a-4a79-b08f-0b4690851109 .transitionLinkIcon {
  left: 634.5655847639475px;
  top: 201.63401425549642px;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #Device_3 .thumbnailPadding {
  padding-left: 1.0px;
  padding-top: 1.0px;
  padding-right: 0.0px;
  padding-bottom: 0.0px;
  border-radius: 36.103272532188726px;
  width: 270.8261802575098px;
  height: 587.0px;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #Device_3 .scenarioScreenThumbnail {
  width: 270.8261802575098px;
  height: 587.0px;
  background-image: url("../../../snapshots/a355d2c5-6f9d-4f55-92cb-f90d81c87e92.png");
  background-size: 271.93923893739804px 586.9999999999981px;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #Device_3 {
  position: absolute;
  left: 717.741416309013px;
  top: 0.0px;
  width: 272.8261802575098px;
  height: 589.0px;
}
_:-ms-fullscreen, :root .sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #Device_3 {
}
#t6135a096-b51b-4329-a145-6a2fc2dea532.transitionWrapper > svg > path:first-child {
  fill: #000000;
  stroke: none;
}
#t6135a096-b51b-4329-a145-6a2fc2dea532.transitionWrapper > svg > path {
  stroke: #000000;
  stroke-width: 1.0px;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #t6135a096-b51b-4329-a145-6a2fc2dea532 .transitionLinkIcon {
  left: 934.6377191841622px;
  top: 605.875px;
}
#t4e77422e-4102-44bf-9069-c5e603c3d024.transitionWrapper > svg > path:first-child {
  fill: #000000;
  stroke: none;
}
#t4e77422e-4102-44bf-9069-c5e603c3d024.transitionWrapper > svg > path {
  stroke: #000000;
  stroke-width: 1.0px;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #t4e77422e-4102-44bf-9069-c5e603c3d024 .transitionLinkIcon {
  left: 824.4858342689295px;
  top: 672.7388421643573px;
}
#t1550c940-804a-4c96-976b-5e8f6013b188.transitionWrapper > svg > path:first-child {
  fill: #000000;
  stroke: none;
}
#t1550c940-804a-4c96-976b-5e8f6013b188.transitionWrapper > svg > path {
  stroke: #000000;
  stroke-width: 1.0px;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #t1550c940-804a-4c96-976b-5e8f6013b188 .transitionLinkIcon {
  left: 720.8386528234465px;
  top: 626.9698173832323px;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #Device_4 .thumbnailPadding {
  padding-left: 1.0px;
  padding-top: 1.0px;
  padding-right: 0.0px;
  padding-bottom: 0.0px;
  border-radius: 36.125px;
  width: 271.0px;
  height: 587.3767441860441px;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #Device_4 .scenarioScreenThumbnail {
  width: 271.0px;
  height: 587.3767441860441px;
  background-image: url("../../../snapshots/a32d58a5-2737-4445-942a-0497e1f1a758.png");
  background-size: 272.1137730553336px 664.8953488372093px;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #Device_4 {
  position: absolute;
  left: 517.9999999999998px;
  top: 788.0px;
  width: 273.0px;
  height: 589.3767441860441px;
}
_:-ms-fullscreen, :root .sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #Device_4 {
}
#t47b4cc71-e41f-40e6-863e-74fdc1d87d57.transitionWrapper > svg > path:first-child {
  fill: #000000;
  stroke: none;
}
#t47b4cc71-e41f-40e6-863e-74fdc1d87d57.transitionWrapper > svg > path {
  stroke: #000000;
  stroke-width: 1.0px;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #t47b4cc71-e41f-40e6-863e-74fdc1d87d57 .transitionLinkIcon {
  left: 499.8090267802629px;
  top: 925.891287096023px;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #Device_5 .thumbnailPadding {
  padding-left: 1.0px;
  padding-top: 1.0px;
  padding-right: 0.0px;
  padding-bottom: 0.0px;
  border-radius: 34.94983905579409px;
  width: 261.5987124463527px;
  height: 567.0000000000001px;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #Device_5 .scenarioScreenThumbnail {
  width: 261.5987124463527px;
  height: 567.0000000000001px;
  background-image: url("../../../snapshots/3f9c7862-528d-4f86-a261-fd085d05d694.png");
  background-size: 261.5987124463534px 567.0000000000017px;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #Device_5 {
  position: absolute;
  left: 878.9999999999998px;
  top: 787.9999999999999px;
  width: 263.5987124463527px;
  height: 569.0000000000001px;
}
_:-ms-fullscreen, :root .sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #Device_5 {
}
#tb0c36554-2852-4ff5-8090-6e66bf60179f.transitionWrapper > svg > path:first-child {
  fill: #000000;
  stroke: none;
}
#tb0c36554-2852-4ff5-8090-6e66bf60179f.transitionWrapper > svg > path {
  stroke: #000000;
  stroke-width: 1.0px;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #tb0c36554-2852-4ff5-8090-6e66bf60179f .transitionLinkIcon {
  left: 859.9999999999998px;
  top: 963.7208695425247px;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #Device_6 .thumbnailPadding {
  padding-left: 1.0px;
  padding-top: 1.0px;
  padding-right: 0.0px;
  padding-bottom: 0.0px;
  border-radius: 34.93402678026314px;
  width: 261.4722142421051px;
  height: 566.7258224968385px;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #Device_6 .scenarioScreenThumbnail {
  width: 261.4722142421051px;
  height: 566.7258224968385px;
  background-image: url("../../../snapshots/d12245cc-1680-458d-89dd-4f0d7fb22724.png");
  background-size: 262.5468293968699px 566.7258224968419px;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #Device_6 {
  position: absolute;
  left: 172.99999999999977px;
  top: 809.0px;
  width: 263.4722142421051px;
  height: 568.7258224968385px;
}
_:-ms-fullscreen, :root .sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #Device_6 {
}
#ta1526ddd-c94e-44d1-bcc1-8554c9f53583.transitionWrapper > svg > path:first-child {
  fill: #000000;
  stroke: none;
}
#ta1526ddd-c94e-44d1-bcc1-8554c9f53583.transitionWrapper > svg > path {
  stroke: #000000;
  stroke-width: 1.0px;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #ta1526ddd-c94e-44d1-bcc1-8554c9f53583 .transitionLinkIcon {
  left: 347.6470778633039px;
  top: 1384.243968113902px;
}
#scenarioWrapper {
  width: 1142.5987124463525px;
  height: 1407.7258224968386px;
}
#sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}