#m-d28c0213-f654-4c28-95f4-7c5407ad2684.master {
  transform: translate(0px,0px);
}
#m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Content_grid_1 {
  position: absolute;
  width: 429.0000000000007px;
  height: 90.85632183908046px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(1.8369701987210297E-16px -1.0px 5px rgba(116,116,116,0.3));
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Content_grid_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Content_grid_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #012A4A;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #012A4A;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #012A4A;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #012A4A;
}
#m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Cell_5 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Cell_5 td.layout {
  padding: 0px 0px 0px 0px;
}
#m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Cell_5 .verticalalign {
  vertical-align: middle;
}
#m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Cell_5 .borderLayer {
  border-left-width: 1.0px;
  border-top-width: 1.0px;
  border-bottom-width: 1.0px;
  border-right-width: 1.0px;
}
#m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Cell_5 {
  width: 25.062656641604004%;
  height: 100.00000000000003%;
  cursor: pointer;
}
#m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Cell_5 > .cellContainerChild > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #012A4A;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #012A4A;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #012A4A;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #012A4A;
}
#m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Cell_5 .Cell_5 > *:last-child {
  margin-bottom: 0;
}
#m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Cell_5 .Cell_5 > * {
  margin-bottom: 13px;
}
#m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Text_17 {
  width: 37.391998291015625px;
  min-height: 14.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat_26.0.0_google',Arial;
}
#m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Text_17 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Text_17 .valign {
  vertical-align: top;
  text-align: left;
}
#m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Text_17 span {
  color: #818181;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 9.0pt;
  font-weight: 500;
  text-transform: none;
}
#m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Text_17 span#rtr-Text_17_0 {
  color: #818181;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 9.0pt;
  font-weight: 500;
  text-transform: none;
}
#m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Cell_6 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Cell_6 td.layout {
  padding: 0px 0px 0px 0px;
}
#m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Cell_6 .verticalalign {
  vertical-align: bottom;
}
#m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Cell_6 .borderLayer {
  border-left-width: 1.0px;
  border-top-width: 1.0px;
  border-bottom-width: 1.0px;
  border-right-width: 1.0px;
}
#m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Cell_6 {
  width: 25.062656641604004%;
  height: 100.00000000000003%;
  cursor: pointer;
}
#m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Cell_6 > .cellContainerChild > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #012A4A;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #012A4A;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #012A4A;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #012A4A;
}
#m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Cell_6 .Cell_6 > *:last-child {
  margin-bottom: 0;
}
#m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Cell_6 .Cell_6 > * {
  margin-bottom: 13px;
}
#m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Text_18 {
  width: 45.79199981689453px;
  min-height: 14.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat_26.0.0_google',Arial;
}
#m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Text_18 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Text_18 .valign {
  vertical-align: top;
  text-align: left;
}
#m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Text_18 span {
  color: #818181;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 9.0pt;
  font-weight: 500;
  text-transform: none;
}
#m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Text_18 span#rtr-Text_18_0 {
  color: #818181;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 9.0pt;
  font-weight: 500;
  text-transform: none;
}
#m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Cell_7 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Cell_7 td.layout {
  padding: 0px 0px 0px 0px;
}
#m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Cell_7 .verticalalign {
  vertical-align: middle;
}
#m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Cell_7 .borderLayer {
  border-left-width: 1.0px;
  border-top-width: 1.0px;
  border-bottom-width: 1.0px;
  border-right-width: 1.0px;
}
#m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Cell_7 {
  width: 25.062656641604004%;
  height: 100.00000000000003%;
  cursor: pointer;
}
#m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Cell_7 > .cellContainerChild > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #012A4A;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #012A4A;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #012A4A;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #012A4A;
}
#m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Cell_7 .Cell_7 > *:last-child {
  margin-bottom: 0;
}
#m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Cell_7 .Cell_7 > * {
  margin-bottom: 13px;
}
#m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Cell_10 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Cell_10 td.layout {
  padding: 0px 0px 0px 0px;
}
#m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Cell_10 .verticalalign {
  vertical-align: middle;
}
#m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Cell_10 .borderLayer {
  border-left-width: 1.0px;
  border-top-width: 1.0px;
  border-bottom-width: 1.0px;
  border-right-width: 1.0px;
}
#m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Cell_10 {
  width: 25.062656641604004%;
  height: 100.00000000000003%;
  cursor: pointer;
}
#m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Cell_10 > .cellContainerChild > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #012A4A;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #012A4A;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #012A4A;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #012A4A;
}
#m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Cell_10 .Cell_10 > *:last-child {
  margin-bottom: 0;
}
#m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Cell_10 .Cell_10 > * {
  margin-bottom: 13px;
}
#m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Path_36 {
  position: absolute;
  width: 39.45702028274537px;
  height: 37.53418064117431px;
}
#m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Text_1 {
  position: absolute;
  width: 47.0px;
  min-height: 16.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat_31.0.0_google',Arial;
}
#m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Text_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Text_1 .valign {
  vertical-align: top;
  text-align: center;
}
#m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Text_1 span {
  color: #012A4A;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat_31.0.0_google',Arial;
  font-size: 9.0pt;
  font-weight: 500;
  text-transform: none;
}
#m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Text_1 span#rtr-Text_1_0 {
  color: #012A4A;
  text-decoration: none;
  font-family: 'Montserrat_31.0.0_google',Arial;
  font-size: 9.0pt;
  font-weight: 500;
  text-transform: none;
}
#m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Path_837 {
  position: absolute;
  width: 44.000000000000014px;
  height: 37.5541248115768px;
}
#m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Text_2 {
  position: absolute;
  width: 107.50000000000034px;
  min-height: 28.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat_31.0.0_google',Arial;
}
#m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Text_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Text_2 .valign {
  vertical-align: top;
  text-align: center;
}
#m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Text_2 span {
  color: #012A4A;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat_31.0.0_google',Arial;
  font-size: 7.5pt;
  font-weight: 500;
  text-transform: none;
}
#m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Text_2 span#rtr-Text_2_0 {
  color: #012A4A;
  text-decoration: none;
  font-family: 'Montserrat_31.0.0_google',Arial;
  font-size: 7.5pt;
  font-weight: 500;
  text-transform: none;
}
#m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Path_49 {
  position: absolute;
  width: 41.05116120585842px;
  height: 33.68115806579583px;
}
#m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Text_19 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat_26.0.0_google',Arial;
}
#m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Text_19 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Text_19 .valign {
  vertical-align: top;
  text-align: left;
}
#m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Text_19 span {
  color: #012A4A;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 9.0pt;
  font-weight: 500;
  text-transform: none;
}
#m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Text_19 span#rtr-Text_19_0 {
  color: #012A4A;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 9.0pt;
  font-weight: 500;
  text-transform: none;
}
#m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Text_20 {
  position: absolute;
  width: 108.00000000000068px;
  min-height: 20.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat_26.0.0_google',Arial;
}
#m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Text_20 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Text_20 .valign {
  vertical-align: top;
  text-align: center;
}
#m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Text_20 span {
  color: #012A4A;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 6.75pt;
  font-weight: 500;
  text-transform: none;
}
#m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Text_20 span#rtr-Text_20_0 {
  color: #012A4A;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 6.75pt;
  font-weight: 500;
  text-transform: none;
}
#m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Text_20 span#rtr-Text_20_1 {
  color: #012A4A;
  text-decoration: none;
  font-family: 'Montserrat_31.0.0_google',Arial;
  font-size: 6.75pt;
  font-weight: 500;
  text-transform: none;
}
#m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Path_1 {
  position: absolute;
  width: 46.00000000000003px;
  height: 25.027718652081134px;
}
#m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Path_2 {
  position: absolute;
  width: 12.0px;
  height: 22.469083246294346px;
}
#m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Circle_1 {
  position: absolute;
  width: 6.000039990000914px;
  height: 7.140207159280074px;
}
.m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Cell_7 .verticalalign {
  vertical-align: middle;
}
.m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Cell_7 td.layout {
  padding: 0px 0px 0px 0px;
}
.m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Cell_10 .Cell_10 > * {
  margin-bottom: 13px;
}
.m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Cell_7 {
  width: 25.062656641604004%;
  height: 100.00000000000003%;
  cursor: pointer;
}
.m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Text_17 {
  width: 37.391998291015625px;
  min-height: 14.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat_26.0.0_google',Arial;
}
.m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Text_19 span#rtr-Text_19_0 {
  color: #012A4A;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 9.0pt;
  font-weight: 500;
  text-transform: none;
}
.m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Cell_6 td.layout {
  padding: 0px 0px 0px 0px;
}
.m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Text_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
.m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Text_20 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
.m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Cell_6 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
.m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Cell_5 {
  width: 25.062656641604004%;
  height: 100.00000000000003%;
  cursor: pointer;
}
.m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Cell_7 .Cell_7 > *:last-child {
  margin-bottom: 0;
}
.m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Text_20 .valign {
  vertical-align: top;
  text-align: center;
}
.m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Text_17 .valign {
  vertical-align: top;
  text-align: left;
}
.m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Cell_5 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
.m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Text_17 span {
  color: #818181;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 9.0pt;
  font-weight: 500;
  text-transform: none;
}
.m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Cell_7 > .cellContainerChild > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #012A4A;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #012A4A;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #012A4A;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #012A4A;
}
.m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Text_19 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat_26.0.0_google',Arial;
}
.m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Path_1 {
  position: absolute;
  width: 46.00000000000003px;
  height: 25.027718652081134px;
}
.m-d28c0213-f654-4c28-95f4-7c5407ad2684.master {
  transform: translate(0px,0px);
}
.m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Cell_6 > .cellContainerChild > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #012A4A;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #012A4A;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #012A4A;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #012A4A;
}
.m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Text_1 span {
  color: #012A4A;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat_31.0.0_google',Arial;
  font-size: 9.0pt;
  font-weight: 500;
  text-transform: none;
}
.m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Cell_6 {
  width: 25.062656641604004%;
  height: 100.00000000000003%;
  cursor: pointer;
}
.m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Text_2 span#rtr-Text_2_0 {
  color: #012A4A;
  text-decoration: none;
  font-family: 'Montserrat_31.0.0_google',Arial;
  font-size: 7.5pt;
  font-weight: 500;
  text-transform: none;
}
.m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Text_19 span {
  color: #012A4A;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 9.0pt;
  font-weight: 500;
  text-transform: none;
}
.m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Text_2 span {
  color: #012A4A;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat_31.0.0_google',Arial;
  font-size: 7.5pt;
  font-weight: 500;
  text-transform: none;
}
.m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Text_20 span#rtr-Text_20_0 {
  color: #012A4A;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 6.75pt;
  font-weight: 500;
  text-transform: none;
}
.m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Cell_7 .borderLayer {
  border-left-width: 1.0px;
  border-top-width: 1.0px;
  border-bottom-width: 1.0px;
  border-right-width: 1.0px;
}
.m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Cell_6 .Cell_6 > *:last-child {
  margin-bottom: 0;
}
.m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Cell_6 .Cell_6 > * {
  margin-bottom: 13px;
}
.m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Cell_10 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
.m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Text_18 span {
  color: #818181;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 9.0pt;
  font-weight: 500;
  text-transform: none;
}
.m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Content_grid_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #012A4A;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #012A4A;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #012A4A;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #012A4A;
}
.m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Cell_7 .Cell_7 > * {
  margin-bottom: 13px;
}
.m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Cell_10 td.layout {
  padding: 0px 0px 0px 0px;
}
.m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Cell_5 .verticalalign {
  vertical-align: middle;
}
.m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Cell_5 td.layout {
  padding: 0px 0px 0px 0px;
}
.m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Cell_5 .borderLayer {
  border-left-width: 1.0px;
  border-top-width: 1.0px;
  border-bottom-width: 1.0px;
  border-right-width: 1.0px;
}
.m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Text_20 span {
  color: #012A4A;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 6.75pt;
  font-weight: 500;
  text-transform: none;
}
.m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Cell_10 .Cell_10 > *:last-child {
  margin-bottom: 0;
}
.m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Text_1 span#rtr-Text_1_0 {
  color: #012A4A;
  text-decoration: none;
  font-family: 'Montserrat_31.0.0_google',Arial;
  font-size: 9.0pt;
  font-weight: 500;
  text-transform: none;
}
.m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Text_17 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
.m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Content_grid_1 {
  position: absolute;
  width: 429.0000000000007px;
  height: 90.85632183908046px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(1.8369701987210297E-16px -1.0px 5px rgba(116,116,116,0.3));
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
.m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Cell_10 .borderLayer {
  border-left-width: 1.0px;
  border-top-width: 1.0px;
  border-bottom-width: 1.0px;
  border-right-width: 1.0px;
}
.m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Path_49 {
  position: absolute;
  width: 41.05116120585842px;
  height: 33.68115806579583px;
}
.m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Text_19 .valign {
  vertical-align: top;
  text-align: left;
}
.m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Text_18 {
  width: 45.79199981689453px;
  min-height: 14.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat_26.0.0_google',Arial;
}
.m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Text_18 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
.m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Cell_10 {
  width: 25.062656641604004%;
  height: 100.00000000000003%;
  cursor: pointer;
}
.m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Path_2 {
  position: absolute;
  width: 12.0px;
  height: 22.469083246294346px;
}
.m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Text_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
.m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Text_20 {
  position: absolute;
  width: 108.00000000000068px;
  min-height: 20.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat_26.0.0_google',Arial;
}
.m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Cell_10 .verticalalign {
  vertical-align: middle;
}
.m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Path_837 {
  position: absolute;
  width: 44.000000000000014px;
  height: 37.5541248115768px;
}
.m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Cell_7 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
.m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Text_18 span#rtr-Text_18_0 {
  color: #818181;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 9.0pt;
  font-weight: 500;
  text-transform: none;
}
.m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Text_2 {
  position: absolute;
  width: 107.50000000000034px;
  min-height: 28.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat_31.0.0_google',Arial;
}
.m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Text_17 span#rtr-Text_17_0 {
  color: #818181;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 9.0pt;
  font-weight: 500;
  text-transform: none;
}
.m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Cell_6 .verticalalign {
  vertical-align: bottom;
}
.m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Cell_5 .Cell_5 > *:last-child {
  margin-bottom: 0;
}
.m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Text_1 {
  position: absolute;
  width: 47.0px;
  min-height: 16.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat_31.0.0_google',Arial;
}
.m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Path_36 {
  position: absolute;
  width: 39.45702028274537px;
  height: 37.53418064117431px;
}
.m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Content_grid_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
.m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Text_19 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
.m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Circle_1 {
  position: absolute;
  width: 6.000039990000914px;
  height: 7.140207159280074px;
}
.m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Text_18 .valign {
  vertical-align: top;
  text-align: left;
}
.m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Text_1 .valign {
  vertical-align: top;
  text-align: center;
}
.m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Text_2 .valign {
  vertical-align: top;
  text-align: center;
}
.m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Text_20 span#rtr-Text_20_1 {
  color: #012A4A;
  text-decoration: none;
  font-family: 'Montserrat_31.0.0_google',Arial;
  font-size: 6.75pt;
  font-weight: 500;
  text-transform: none;
}
.m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Cell_10 > .cellContainerChild > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #012A4A;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #012A4A;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #012A4A;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #012A4A;
}
.m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Cell_6 .borderLayer {
  border-left-width: 1.0px;
  border-top-width: 1.0px;
  border-bottom-width: 1.0px;
  border-right-width: 1.0px;
}
.m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Cell_5 > .cellContainerChild > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #012A4A;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #012A4A;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #012A4A;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #012A4A;
}
.m-d28c0213-f654-4c28-95f4-7c5407ad2684 #Cell_5 .Cell_5 > * {
  margin-bottom: 13px;
}
#loadMark-m-d28c0213-f654-4c28-95f4-7c5407ad2684 {
  width: 1px;
  visibility: hidden;
  display: none;
}
#m-d28c0213-f654-4c28-95f4-7c5407ad2684.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}