#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef > #backgroundBox {
  position: absolute;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef > #alignmentBox {
  position: relative;
  max-width: 430.0px;
  max-height: 932.0px;
  width: 100%;
  height: 100%;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Image_2 {
  position: absolute;
  width: 138.89999999999992px;
  height: 129.2216931889535px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #shapewrapper-s-Ellipse_2 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #shapewrapper-s-Ellipse_2 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #shapewrapper-s-Ellipse_2 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Ellipse_2 {
  width: 164.4000000000001px;
  height: 166.00000000000006px;
  min-height: 166.00000000000006px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  stroke-width: 4.0px;
  stroke-dasharray: 2.0;
  stroke: #012A4A;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #shapewrapper-s-Ellipse_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #shapewrapper-s-Ellipse_2 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #shapewrapper-s-Ellipse_2 span#rtr-s-Ellipse_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #shapewrapper-s-Ellipse_1 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #shapewrapper-s-Ellipse_1 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #shapewrapper-s-Ellipse_1 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(0.5566924038402614px 3.9610722749662814px 5px rgba(167,167,167,0.4));
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Ellipse_1 {
  width: 76.0px;
  height: 76.0px;
  min-height: 76.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #shapewrapper-s-Ellipse_1 > .backgroundLayer > .colorLayer {
  background-color: #DDDDDD;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #shapewrapper-s-Ellipse_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #shapewrapper-s-Ellipse_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #shapewrapper-s-Ellipse_1 span#rtr-s-Ellipse_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Path_582 {
  position: absolute;
  width: 25.494991535877034px;
  height: 25.50210565811062px;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Text_1 {
  position: absolute;
  width: 155.6154476081548px;
  min-height: 42.00000000000003px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat_26.0.0_google',Arial;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Text_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Text_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Text_1 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 13.5pt;
  font-weight: 700;
  letter-spacing: 5.0px;
  text-transform: none;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Text_1 span#rtr-s-Text_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 13.5pt;
  font-weight: 700;
  letter-spacing: 5.0px;
  text-transform: none;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Path_29 {
  position: absolute;
  width: 19.856412083990506px;
  height: 19.73000000000005px;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Rectangle_15 {
  position: absolute;
  width: 431.7672413793111px;
  min-height: 934.0000000000002px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Rectangle_15 > .backgroundLayer > .colorLayer {
  background-color: rgba(255,255,255,0.5);
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Rectangle_15 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Rectangle_15 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Rectangle_15 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Rectangle_15 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Rectangle_15 span#rtr-s-Rectangle_15_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Dynamic_panel_4 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Panel_4 {
  width: 430.0px;
  height: 465.00000000000045px;
  filter:  drop-shadow(-0.0px -0.0px 5px rgba(143,143,143,0.4));
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Panel_4 > .backgroundLayer {
  border-top-left-radius: 20.0px;
  border-top-right-radius: 20.0px;
  border-bottom-right-radius: 0.0px;
  border-bottom-left-radius: 0.0px;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Panel_4 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Panel_4 > .borderLayer {
  border-top-left-radius: 20.0px;
  border-top-right-radius: 20.0px;
  border-bottom-right-radius: 0.0px;
  border-bottom-left-radius: 0.0px;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Panel_4 > .backgroundLayer {
  border-top-left-radius: 20.0px;
  border-top-right-radius: 20.0px;
  border-bottom-right-radius: 0.0px;
  border-bottom-left-radius: 0.0px;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Panel_4 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Panel_4 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Panel_4 .verticalalign {
  vertical-align: top;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Content_grid_2 {
  position: absolute;
  width: 429.4999999999988px;
  height: 442.7759053685172px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Cell_23 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Cell_23 td.layout {
  padding: 0px 0px 0px 20px;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Cell_23 .verticalalign {
  vertical-align: middle;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Cell_23 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Cell_23 {
  width: 100.00000000000001%;
  height: 11.123470522803116%;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Text_21 {
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat_26.0.0_google',Arial;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Text_21 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Text_21 .valign {
  vertical-align: top;
  text-align: left;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Text_21 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 600;
  text-transform: none;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Text_21 span#rtr-s-Text_21_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 600;
  text-transform: none;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Cell_24 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Cell_24 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Cell_24 .verticalalign {
  vertical-align: middle;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Cell_24 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Cell_24 {
  width: 13.445867287543562%;
  height: 11.123470522803116%;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Path_14 {
  width: 20.0px;
  height: 17.5px;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Cell_25 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Cell_25 td.layout {
  padding: 0px 0px 0px 20px;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Cell_25 .verticalalign {
  vertical-align: middle;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Cell_25 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Cell_25 {
  width: 86.55413271245645%;
  height: 11.123470522803116%;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Text_22 {
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat_26.0.0_google',Arial;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Text_22 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Text_22 .valign {
  vertical-align: top;
  text-align: left;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Text_22 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 500;
  text-transform: none;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Text_22 span#rtr-s-Text_22_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 500;
  text-transform: none;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Cell_26 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Cell_26 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Cell_26 .verticalalign {
  vertical-align: middle;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Cell_26 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Cell_26 {
  width: 13.445867287543562%;
  height: 11.123470522803116%;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Path_15 {
  width: 20.0px;
  height: 17.5px;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Cell_27 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Cell_27 td.layout {
  padding: 0px 0px 0px 20px;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Cell_27 .verticalalign {
  vertical-align: middle;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Cell_27 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Cell_27 {
  width: 86.55413271245645%;
  height: 11.123470522803116%;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Text_23 {
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat_26.0.0_google',Arial;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Text_23 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Text_23 .valign {
  vertical-align: top;
  text-align: left;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Text_23 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 500;
  text-transform: none;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Text_23 span#rtr-s-Text_23_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 500;
  text-transform: none;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Cell_28 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Cell_28 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Cell_28 .verticalalign {
  vertical-align: middle;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Cell_28 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Cell_28 {
  width: 13.445867287543562%;
  height: 11.123470522803116%;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Path_16 {
  width: 20.0px;
  height: 17.5px;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Cell_29 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Cell_29 td.layout {
  padding: 0px 0px 0px 20px;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Cell_29 .verticalalign {
  vertical-align: middle;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Cell_29 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Cell_29 {
  width: 86.55413271245645%;
  height: 11.123470522803116%;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Text_24 {
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat_26.0.0_google',Arial;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Text_24 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Text_24 .valign {
  vertical-align: top;
  text-align: left;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Text_24 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 500;
  text-transform: none;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Text_24 span#rtr-s-Text_24_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 500;
  text-transform: none;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Cell_30 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Cell_30 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Cell_30 .verticalalign {
  vertical-align: middle;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Cell_30 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Cell_30 {
  width: 13.445867287543562%;
  height: 11.123470522803116%;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Path_17 {
  width: 20.0px;
  height: 17.5px;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Cell_31 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Cell_31 td.layout {
  padding: 0px 0px 0px 20px;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Cell_31 .verticalalign {
  vertical-align: middle;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Cell_31 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Cell_31 {
  width: 86.55413271245645%;
  height: 11.123470522803116%;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Text_26 {
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat_26.0.0_google',Arial;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Text_26 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Text_26 .valign {
  vertical-align: top;
  text-align: left;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Text_26 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 500;
  text-transform: none;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Text_26 span#rtr-s-Text_26_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 500;
  text-transform: none;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Cell_32 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Cell_32 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Cell_32 .verticalalign {
  vertical-align: middle;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Cell_32 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Cell_32 {
  width: 100.00000000000001%;
  height: 11.123470522803116%;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Path_13 {
  width: 399.82021626880106px;
  height: 2.0px;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Cell_33 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Cell_33 td.layout {
  padding: 0px 0px 0px 20px;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Cell_33 .verticalalign {
  vertical-align: middle;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Cell_33 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Cell_33 {
  width: 100.00000000000001%;
  height: 11.123470522803116%;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Text_28 {
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat_26.0.0_google',Arial;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Text_28 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Text_28 .valign {
  vertical-align: top;
  text-align: left;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Text_28 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 600;
  text-transform: none;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Text_28 span#rtr-s-Text_28_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 600;
  text-transform: none;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Cell_34 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Cell_34 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Cell_34 .verticalalign {
  vertical-align: middle;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Cell_34 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Cell_34 {
  width: 13.445867287543562%;
  height: 11.123470522803116%;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Path_19 {
  width: 20.0px;
  height: 17.5px;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Cell_35 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Cell_35 td.layout {
  padding: 0px 0px 0px 20px;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Cell_35 .verticalalign {
  vertical-align: middle;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Cell_35 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Cell_35 {
  width: 86.55413271245645%;
  height: 11.123470522803116%;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Text_29 {
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat_26.0.0_google',Arial;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Text_29 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Text_29 .valign {
  vertical-align: top;
  text-align: left;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Text_29 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 500;
  text-transform: none;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Text_29 span#rtr-s-Text_29_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 500;
  text-transform: none;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Cell_36 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Cell_36 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Cell_36 .verticalalign {
  vertical-align: middle;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Cell_36 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Cell_36 {
  width: 13.445867287543562%;
  height: 11.123470522803116%;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Path_20 {
  width: 20.0px;
  height: 17.5px;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Cell_37 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Cell_37 td.layout {
  padding: 0px 0px 0px 20px;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Cell_37 .verticalalign {
  vertical-align: middle;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Cell_37 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Cell_37 {
  width: 86.55413271245645%;
  height: 11.123470522803116%;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Text_30 {
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat_26.0.0_google',Arial;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Text_30 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Text_30 .valign {
  vertical-align: top;
  text-align: left;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Text_30 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 500;
  text-transform: none;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Text_30 span#rtr-s-Text_30_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 500;
  text-transform: none;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Dynamic_panel_2 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Panel_2 {
  width: 429.9999999999991px;
  height: 65.0px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Panel_2 > .backgroundLayer > .colorLayer {
  background-color: transparent;
  background-image: linear-gradient(180.0deg, #FFFFFF 43.67574953781851%, #FFFFFF00 94.26975323527044%);
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Panel_2 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Panel_2 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Panel_2 .verticalalign {
  vertical-align: top;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Path_8 {
  position: absolute;
  width: 17.141998291015625px;
  height: 12.32832384109497px;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Path_9 {
  position: absolute;
  width: 21.0px;
  height: 9.0px;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Path_10 {
  position: absolute;
  width: 27.3280029296875px;
  height: 13.0px;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Path_11 {
  position: absolute;
  width: 19.20001220703125px;
  height: 12.226398468017578px;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Paragraph_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto_0.0.0_system',Arial;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Paragraph_1 > .backgroundLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Paragraph_1 > .borderLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Paragraph_1 > .backgroundLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Paragraph_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Paragraph_1 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto_0.0.0_system',Arial;
  font-size: 12.0pt;
  font-weight: 500;
  text-transform: none;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto_0.0.0_system',Arial;
  font-size: 12.0pt;
  font-weight: 500;
  text-transform: none;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Path_2 {
  position: absolute;
  width: 16.168716605072007px;
  height: 23.0px;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Path_128 {
  position: absolute;
  width: 18.760769367217904px;
  height: 18.91898012161252px;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Path_3 {
  position: absolute;
  width: 20.000000000000004px;
  height: 19.99933940090441px;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Master_item_24 {
  position: absolute;
  width: 429.00000000000074px;
  height: 90.85632183908046px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #mi-a2145bd1-Content_grid_1 {
  position: absolute;
  width: 429.0000000000007px;
  height: 90.85632183908046px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(1.8369701987210297E-16px -1.0px 5px rgba(116,116,116,0.3));
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #mi-a2145bd1-Content_grid_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #mi-a2145bd1-Content_grid_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #012A4A;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #012A4A;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #012A4A;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #012A4A;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #mi-a2145bd1-Cell_38 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #mi-a2145bd1-Cell_38 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #mi-a2145bd1-Cell_38 .verticalalign {
  vertical-align: middle;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #mi-a2145bd1-Cell_38 .borderLayer {
  border-left-width: 1.0px;
  border-top-width: 1.0px;
  border-bottom-width: 1.0px;
  border-right-width: 1.0px;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #mi-a2145bd1-Cell_38 {
  width: 25.062656641604004%;
  height: 100.00000000000003%;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #mi-a2145bd1-Cell_38 > .cellContainerChild > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #012A4A;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #012A4A;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #012A4A;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #012A4A;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #mi-a2145bd1-Cell_38 .Cell_38 > *:last-child {
  margin-bottom: 0;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #mi-a2145bd1-Cell_38 .Cell_38 > * {
  margin-bottom: 13px;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #mi-a2145bd1-Text_17 {
  width: 37.391998291015625px;
  min-height: 14.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat_26.0.0_google',Arial;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #mi-a2145bd1-Text_17 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #mi-a2145bd1-Text_17 .valign {
  vertical-align: top;
  text-align: left;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #mi-a2145bd1-Text_17 span {
  color: #818181;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 9.0pt;
  font-weight: 500;
  text-transform: none;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #mi-a2145bd1-Text_17 span#rtr-mi-a2145bd1-Text_17_0 {
  color: #818181;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 9.0pt;
  font-weight: 500;
  text-transform: none;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #mi-a2145bd1-Cell_39 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #mi-a2145bd1-Cell_39 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #mi-a2145bd1-Cell_39 .verticalalign {
  vertical-align: bottom;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #mi-a2145bd1-Cell_39 .borderLayer {
  border-left-width: 1.0px;
  border-top-width: 1.0px;
  border-bottom-width: 1.0px;
  border-right-width: 1.0px;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #mi-a2145bd1-Cell_39 {
  width: 25.062656641604004%;
  height: 100.00000000000003%;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #mi-a2145bd1-Cell_39 > .cellContainerChild > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #012A4A;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #012A4A;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #012A4A;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #012A4A;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #mi-a2145bd1-Cell_39 .Cell_39 > *:last-child {
  margin-bottom: 0;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #mi-a2145bd1-Cell_39 .Cell_39 > * {
  margin-bottom: 13px;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #mi-a2145bd1-Text_18 {
  width: 45.79199981689453px;
  min-height: 14.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat_26.0.0_google',Arial;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #mi-a2145bd1-Text_18 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #mi-a2145bd1-Text_18 .valign {
  vertical-align: top;
  text-align: left;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #mi-a2145bd1-Text_18 span {
  color: #818181;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 9.0pt;
  font-weight: 500;
  text-transform: none;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #mi-a2145bd1-Text_18 span#rtr-mi-a2145bd1-Text_18_0 {
  color: #818181;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 9.0pt;
  font-weight: 500;
  text-transform: none;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #mi-a2145bd1-Cell_40 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #mi-a2145bd1-Cell_40 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #mi-a2145bd1-Cell_40 .verticalalign {
  vertical-align: middle;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #mi-a2145bd1-Cell_40 .borderLayer {
  border-left-width: 1.0px;
  border-top-width: 1.0px;
  border-bottom-width: 1.0px;
  border-right-width: 1.0px;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #mi-a2145bd1-Cell_40 {
  width: 25.062656641604004%;
  height: 100.00000000000003%;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #mi-a2145bd1-Cell_40 > .cellContainerChild > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #012A4A;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #012A4A;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #012A4A;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #012A4A;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #mi-a2145bd1-Cell_40 .Cell_40 > *:last-child {
  margin-bottom: 0;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #mi-a2145bd1-Cell_40 .Cell_40 > * {
  margin-bottom: 13px;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #mi-a2145bd1-Cell_41 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #mi-a2145bd1-Cell_41 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #mi-a2145bd1-Cell_41 .verticalalign {
  vertical-align: middle;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #mi-a2145bd1-Cell_41 .borderLayer {
  border-left-width: 1.0px;
  border-top-width: 1.0px;
  border-bottom-width: 1.0px;
  border-right-width: 1.0px;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #mi-a2145bd1-Cell_41 {
  width: 25.062656641604004%;
  height: 100.00000000000003%;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #mi-a2145bd1-Cell_41 > .cellContainerChild > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #012A4A;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #012A4A;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #012A4A;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #012A4A;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #mi-a2145bd1-Cell_41 .Cell_41 > *:last-child {
  margin-bottom: 0;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #mi-a2145bd1-Cell_41 .Cell_41 > * {
  margin-bottom: 13px;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #mi-a2145bd1-Path_36 {
  position: absolute;
  width: 39.45702028274537px;
  height: 37.53418064117431px;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #mi-a2145bd1-Text_5 {
  position: absolute;
  width: 47.0px;
  min-height: 16.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat_31.0.0_google',Arial;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #mi-a2145bd1-Text_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #mi-a2145bd1-Text_5 .valign {
  vertical-align: top;
  text-align: center;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #mi-a2145bd1-Text_5 span {
  color: #012A4A;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat_31.0.0_google',Arial;
  font-size: 9.0pt;
  font-weight: 500;
  text-transform: none;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #mi-a2145bd1-Text_5 span#rtr-mi-a2145bd1-Text_5_0 {
  color: #012A4A;
  text-decoration: none;
  font-family: 'Montserrat_31.0.0_google',Arial;
  font-size: 9.0pt;
  font-weight: 500;
  text-transform: none;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #mi-a2145bd1-Path_837 {
  position: absolute;
  width: 44.000000000000014px;
  height: 37.5541248115768px;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #mi-a2145bd1-Text_6 {
  position: absolute;
  width: 107.50000000000034px;
  min-height: 28.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat_31.0.0_google',Arial;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #mi-a2145bd1-Text_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #mi-a2145bd1-Text_6 .valign {
  vertical-align: top;
  text-align: center;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #mi-a2145bd1-Text_6 span {
  color: #012A4A;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat_31.0.0_google',Arial;
  font-size: 7.5pt;
  font-weight: 500;
  text-transform: none;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #mi-a2145bd1-Text_6 span#rtr-mi-a2145bd1-Text_6_0 {
  color: #012A4A;
  text-decoration: none;
  font-family: 'Montserrat_31.0.0_google',Arial;
  font-size: 7.5pt;
  font-weight: 500;
  text-transform: none;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #mi-a2145bd1-Path_49 {
  position: absolute;
  width: 41.05116120585842px;
  height: 33.68115806579583px;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #mi-a2145bd1-Text_19 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat_26.0.0_google',Arial;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #mi-a2145bd1-Text_19 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #mi-a2145bd1-Text_19 .valign {
  vertical-align: top;
  text-align: left;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #mi-a2145bd1-Text_19 span {
  color: #012A4A;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 9.0pt;
  font-weight: 500;
  text-transform: none;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #mi-a2145bd1-Text_19 span#rtr-mi-a2145bd1-Text_19_0 {
  color: #012A4A;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 9.0pt;
  font-weight: 500;
  text-transform: none;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #mi-a2145bd1-Text_20 {
  position: absolute;
  width: 108.00000000000068px;
  min-height: 20.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat_26.0.0_google',Arial;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #mi-a2145bd1-Text_20 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #mi-a2145bd1-Text_20 .valign {
  vertical-align: top;
  text-align: center;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #mi-a2145bd1-Text_20 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 9.0pt;
  font-weight: 500;
  text-transform: none;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #mi-a2145bd1-Text_20 span#rtr-mi-a2145bd1-Text_20_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 9.0pt;
  font-weight: 500;
  text-transform: none;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #mi-a2145bd1-Path_1 {
  position: absolute;
  width: 46.00000000000003px;
  height: 25.027718652081134px;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #mi-a2145bd1-Path_4 {
  position: absolute;
  width: 12.0px;
  height: 22.469083246294346px;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #mi-a2145bd1-Circle_1 {
  position: absolute;
  width: 6.000039990000914px;
  height: 7.140207159280074px;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Text_2 {
  position: absolute;
  width: 100.69531250000011px;
  min-height: 25.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Text_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Text_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Text_2 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Text_2 span#rtr-s-Text_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Button_1 {
  position: absolute;
  width: 375.19168090820335px;
  min-height: 32.92625688078056px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat_31.0.0_google',Arial;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 15.0px;
  border-top-right-radius: 15.0px;
  border-bottom-right-radius: 15.0px;
  border-bottom-left-radius: 15.0px;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Button_1 > .backgroundLayer > .colorLayer {
  background-color: #F4A2A2;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Button_1 > .borderLayer {
  border-top-left-radius: 15.0px;
  border-top-right-radius: 15.0px;
  border-bottom-right-radius: 15.0px;
  border-bottom-left-radius: 15.0px;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 15.0px;
  border-top-right-radius: 15.0px;
  border-bottom-right-radius: 15.0px;
  border-bottom-left-radius: 15.0px;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Button_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat_31.0.0_google',Arial;
  font-size: 7.5pt;
  font-weight: 700;
  text-transform: none;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Button_1 span#rtr-s-Button_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Montserrat_31.0.0_google',Arial;
  font-size: 7.5pt;
  font-weight: 700;
  text-transform: none;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Button_2 {
  position: absolute;
  width: 375.1916809082033px;
  min-height: 302.00000000000006px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat_26.0.0_google',Arial;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Button_2 > .backgroundLayer {
  border-top-left-radius: 15.0px;
  border-top-right-radius: 15.0px;
  border-bottom-right-radius: 15.0px;
  border-bottom-left-radius: 15.0px;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Button_2 > .backgroundLayer > .colorLayer {
  background-color: #DDDDDD;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Button_2 > .borderLayer {
  border-top-left-radius: 15.0px;
  border-top-right-radius: 15.0px;
  border-bottom-right-radius: 15.0px;
  border-bottom-left-radius: 15.0px;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Button_2 > .backgroundLayer {
  border-top-left-radius: 15.0px;
  border-top-right-radius: 15.0px;
  border-bottom-right-radius: 15.0px;
  border-bottom-left-radius: 15.0px;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Button_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Button_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Button_2 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 7.5pt;
  font-weight: 500;
  text-transform: none;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Button_2 span#rtr-s-Button_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 7.5pt;
  font-weight: 500;
  text-transform: none;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #shapewrapper-s-Ellipse_3 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #shapewrapper-s-Ellipse_3 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #shapewrapper-s-Ellipse_3 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Ellipse_3 {
  width: 146.89999999999992px;
  height: 148.99999999999994px;
  min-height: 148.99999999999994px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  stroke-width: 4.0px;
  stroke: #5FA8D3;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #shapewrapper-s-Ellipse_3 > .backgroundLayer > .colorLayer {
  background-color: rgba(202,233,255,0.5);
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #shapewrapper-s-Ellipse_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #shapewrapper-s-Ellipse_3 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #shapewrapper-s-Ellipse_3 span#rtr-s-Ellipse_3_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Text_3 {
  position: absolute;
  width: 105.45000457763669px;
  min-height: 38.94740234822709px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Rambla_14.0.0_google',Arial;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Text_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Text_3 .valign {
  vertical-align: top;
  text-align: center;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Text_3 span {
  color: #357C8B;
  text-align: center;
  text-decoration: none;
  font-family: 'Rambla_14.0.0_google',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Text_3 span#rtr-s-Text_3_0 {
  color: #357C8B;
  text-decoration: none;
  font-family: 'Rambla_14.0.0_google',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Text_4 {
  position: absolute;
  width: 105.45000457763672px;
  min-height: 32.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Bungee_17.0.0_google',Arial;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Text_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Text_4 .valign {
  vertical-align: top;
  text-align: center;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Text_4 span {
  color: #032C4B;
  text-align: center;
  text-decoration: none;
  font-family: 'Bungee_17.0.0_google',Arial;
  font-size: 16.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Text_4 span#rtr-s-Text_4_0 {
  color: #032C4B;
  text-decoration: none;
  font-family: 'Bungee_17.0.0_google',Arial;
  font-size: 16.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef #s-Path_7 {
  position: absolute;
  width: 10.611347941747809px;
  height: 1.0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-67fb9edc-b68a-4216-8ec0-7c6061de50ef > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}