#s-022f79e6-32b2-4c25-84c9-f2a631cad33d > #backgroundBox {
  background-color: rgba(1,42,74,0.9);
  position: absolute;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d > #alignmentBox {
  position: relative;
  max-width: 430.0px;
  max-height: 932.0px;
  width: 100%;
  height: 100%;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #shapewrapper-s-Ellipse_1 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #shapewrapper-s-Ellipse_1 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #shapewrapper-s-Ellipse_1 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Ellipse_1 {
  width: 260.0px;
  height: 260.326px;
  min-height: 260.326px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  stroke-width: 4.0px;
  stroke: #5FA8D3;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #shapewrapper-s-Ellipse_1 > .backgroundLayer > .colorLayer {
  background-color: rgba(202,240,248,0.97);
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #shapewrapper-s-Ellipse_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #shapewrapper-s-Ellipse_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #shapewrapper-s-Ellipse_1 span#rtr-s-Ellipse_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Image_1 {
  position: absolute;
  width: 245.01824826592258px;
  height: 225.74874114023442px;
  opacity: 0.85;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Text_5 {
  position: absolute;
  width: 186.0127818664223px;
  min-height: 68.0406426646797px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Rambla_14.0.0_google',Arial;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Text_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Text_5 .valign {
  vertical-align: top;
  text-align: center;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Text_5 span {
  color: #357C8B;
  text-align: center;
  text-decoration: none;
  font-family: 'Rambla_14.0.0_google',Arial;
  font-size: 21.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Text_5 span#rtr-s-Text_5_0 {
  color: #357C8B;
  text-decoration: none;
  font-family: 'Rambla_14.0.0_google',Arial;
  font-size: 21.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #shapewrapper-s-Ellipse_4 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #shapewrapper-s-Ellipse_4 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #shapewrapper-s-Ellipse_4 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Ellipse_4 {
  width: 290.00000010739893px;
  height: 290.0000000346875px;
  min-height: 290.0000000346875px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  stroke-width: 4.0px;
  stroke-dasharray: 2.0;
  stroke: #FFFFFF;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #shapewrapper-s-Ellipse_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #shapewrapper-s-Ellipse_4 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #shapewrapper-s-Ellipse_4 span#rtr-s-Ellipse_4_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Text_1 {
  position: absolute;
  width: 155.6154476081548px;
  min-height: 42.00000000000003px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins_24.0.0_google',Arial;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Text_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Text_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Text_1 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins_24.0.0_google',Arial;
  font-size: 13.5pt;
  font-weight: 700;
  letter-spacing: 1.0px;
  text-transform: none;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Text_1 span#rtr-s-Text_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Poppins_24.0.0_google',Arial;
  font-size: 13.5pt;
  font-weight: 700;
  letter-spacing: 1.0px;
  text-transform: none;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Path_29 {
  position: absolute;
  width: 19.856412083990506px;
  height: 19.73000000000005px;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Rectangle_15 {
  position: absolute;
  width: 431.7672413793111px;
  min-height: 934.0000000000002px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Rectangle_15 > .backgroundLayer > .colorLayer {
  background-color: rgba(255,255,255,0.5);
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Rectangle_15 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Rectangle_15 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Rectangle_15 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Rectangle_15 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Rectangle_15 span#rtr-s-Rectangle_15_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Dynamic_panel_4 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Panel_4 {
  width: 430.0px;
  height: 465.00000000000045px;
  filter:  drop-shadow(-0.0px -0.0px 5px rgba(143,143,143,0.4));
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Panel_4 > .backgroundLayer {
  border-top-left-radius: 20.0px;
  border-top-right-radius: 20.0px;
  border-bottom-right-radius: 0.0px;
  border-bottom-left-radius: 0.0px;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Panel_4 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Panel_4 > .borderLayer {
  border-top-left-radius: 20.0px;
  border-top-right-radius: 20.0px;
  border-bottom-right-radius: 0.0px;
  border-bottom-left-radius: 0.0px;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Panel_4 > .backgroundLayer {
  border-top-left-radius: 20.0px;
  border-top-right-radius: 20.0px;
  border-bottom-right-radius: 0.0px;
  border-bottom-left-radius: 0.0px;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Panel_4 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Panel_4 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Panel_4 .verticalalign {
  vertical-align: top;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Content_grid_2 {
  position: absolute;
  width: 429.4999999999988px;
  height: 442.7759053685172px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Cell_23 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Cell_23 td.layout {
  padding: 0px 0px 0px 20px;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Cell_23 .verticalalign {
  vertical-align: middle;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Cell_23 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Cell_23 {
  width: 100.00000000000001%;
  height: 11.123470522803116%;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Text_21 {
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat_26.0.0_google',Arial;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Text_21 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Text_21 .valign {
  vertical-align: top;
  text-align: left;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Text_21 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 600;
  text-transform: none;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Text_21 span#rtr-s-Text_21_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 600;
  text-transform: none;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Cell_24 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Cell_24 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Cell_24 .verticalalign {
  vertical-align: middle;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Cell_24 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Cell_24 {
  width: 13.445867287543562%;
  height: 11.123470522803116%;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Path_14 {
  width: 20.0px;
  height: 17.5px;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Cell_25 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Cell_25 td.layout {
  padding: 0px 0px 0px 20px;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Cell_25 .verticalalign {
  vertical-align: middle;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Cell_25 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Cell_25 {
  width: 86.55413271245645%;
  height: 11.123470522803116%;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Text_22 {
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat_26.0.0_google',Arial;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Text_22 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Text_22 .valign {
  vertical-align: top;
  text-align: left;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Text_22 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 500;
  text-transform: none;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Text_22 span#rtr-s-Text_22_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 500;
  text-transform: none;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Cell_26 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Cell_26 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Cell_26 .verticalalign {
  vertical-align: middle;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Cell_26 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Cell_26 {
  width: 13.445867287543562%;
  height: 11.123470522803116%;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Path_15 {
  width: 20.0px;
  height: 17.5px;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Cell_27 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Cell_27 td.layout {
  padding: 0px 0px 0px 20px;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Cell_27 .verticalalign {
  vertical-align: middle;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Cell_27 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Cell_27 {
  width: 86.55413271245645%;
  height: 11.123470522803116%;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Text_23 {
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat_26.0.0_google',Arial;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Text_23 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Text_23 .valign {
  vertical-align: top;
  text-align: left;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Text_23 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 500;
  text-transform: none;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Text_23 span#rtr-s-Text_23_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 500;
  text-transform: none;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Cell_28 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Cell_28 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Cell_28 .verticalalign {
  vertical-align: middle;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Cell_28 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Cell_28 {
  width: 13.445867287543562%;
  height: 11.123470522803116%;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Path_16 {
  width: 20.0px;
  height: 17.5px;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Cell_29 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Cell_29 td.layout {
  padding: 0px 0px 0px 20px;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Cell_29 .verticalalign {
  vertical-align: middle;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Cell_29 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Cell_29 {
  width: 86.55413271245645%;
  height: 11.123470522803116%;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Text_24 {
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat_26.0.0_google',Arial;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Text_24 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Text_24 .valign {
  vertical-align: top;
  text-align: left;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Text_24 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 500;
  text-transform: none;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Text_24 span#rtr-s-Text_24_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 500;
  text-transform: none;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Cell_30 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Cell_30 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Cell_30 .verticalalign {
  vertical-align: middle;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Cell_30 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Cell_30 {
  width: 13.445867287543562%;
  height: 11.123470522803116%;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Path_17 {
  width: 20.0px;
  height: 17.5px;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Cell_31 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Cell_31 td.layout {
  padding: 0px 0px 0px 20px;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Cell_31 .verticalalign {
  vertical-align: middle;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Cell_31 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Cell_31 {
  width: 86.55413271245645%;
  height: 11.123470522803116%;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Text_26 {
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat_26.0.0_google',Arial;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Text_26 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Text_26 .valign {
  vertical-align: top;
  text-align: left;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Text_26 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 500;
  text-transform: none;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Text_26 span#rtr-s-Text_26_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 500;
  text-transform: none;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Cell_32 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Cell_32 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Cell_32 .verticalalign {
  vertical-align: middle;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Cell_32 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Cell_32 {
  width: 100.00000000000001%;
  height: 11.123470522803116%;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Path_13 {
  width: 399.82021626880106px;
  height: 2.0px;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Cell_33 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Cell_33 td.layout {
  padding: 0px 0px 0px 20px;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Cell_33 .verticalalign {
  vertical-align: middle;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Cell_33 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Cell_33 {
  width: 100.00000000000001%;
  height: 11.123470522803116%;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Text_28 {
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat_26.0.0_google',Arial;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Text_28 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Text_28 .valign {
  vertical-align: top;
  text-align: left;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Text_28 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 600;
  text-transform: none;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Text_28 span#rtr-s-Text_28_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 600;
  text-transform: none;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Cell_34 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Cell_34 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Cell_34 .verticalalign {
  vertical-align: middle;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Cell_34 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Cell_34 {
  width: 13.445867287543562%;
  height: 11.123470522803116%;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Path_19 {
  width: 20.0px;
  height: 17.5px;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Cell_35 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Cell_35 td.layout {
  padding: 0px 0px 0px 20px;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Cell_35 .verticalalign {
  vertical-align: middle;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Cell_35 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Cell_35 {
  width: 86.55413271245645%;
  height: 11.123470522803116%;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Text_29 {
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat_26.0.0_google',Arial;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Text_29 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Text_29 .valign {
  vertical-align: top;
  text-align: left;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Text_29 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 500;
  text-transform: none;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Text_29 span#rtr-s-Text_29_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 500;
  text-transform: none;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Cell_36 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Cell_36 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Cell_36 .verticalalign {
  vertical-align: middle;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Cell_36 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Cell_36 {
  width: 13.445867287543562%;
  height: 11.123470522803116%;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Path_20 {
  width: 20.0px;
  height: 17.5px;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Cell_37 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Cell_37 td.layout {
  padding: 0px 0px 0px 20px;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Cell_37 .verticalalign {
  vertical-align: middle;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Cell_37 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Cell_37 {
  width: 86.55413271245645%;
  height: 11.123470522803116%;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Text_30 {
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat_26.0.0_google',Arial;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Text_30 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Text_30 .valign {
  vertical-align: top;
  text-align: left;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Text_30 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 500;
  text-transform: none;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Text_30 span#rtr-s-Text_30_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 500;
  text-transform: none;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Dynamic_panel_2 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Panel_2 {
  width: 429.9999999999991px;
  height: 65.0px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Panel_2 > .backgroundLayer > .colorLayer {
  background-color: transparent;
  background-image: linear-gradient(180.0deg, #FFFFFF 43.67574953781851%, #FFFFFF00 94.26975323527044%);
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Panel_2 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Panel_2 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Panel_2 .verticalalign {
  vertical-align: top;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Path_8 {
  position: absolute;
  width: 17.141998291015625px;
  height: 12.32832384109497px;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Path_9 {
  position: absolute;
  width: 21.0px;
  height: 9.0px;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Path_10 {
  position: absolute;
  width: 27.3280029296875px;
  height: 13.0px;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Path_11 {
  position: absolute;
  width: 19.20001220703125px;
  height: 12.226398468017578px;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Paragraph_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto_0.0.0_system',Arial;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Paragraph_1 > .backgroundLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Paragraph_1 > .borderLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Paragraph_1 > .backgroundLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Paragraph_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Paragraph_1 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto_0.0.0_system',Arial;
  font-size: 12.0pt;
  font-weight: 500;
  text-transform: none;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto_0.0.0_system',Arial;
  font-size: 12.0pt;
  font-weight: 500;
  text-transform: none;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Path_2 {
  position: absolute;
  width: 16.168716605072007px;
  height: 23.0px;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Path_128 {
  position: absolute;
  width: 18.760769367217904px;
  height: 18.91898012161252px;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Image_3 {
  position: absolute;
  width: 94.0px;
  height: 94.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Master_item_29 {
  position: absolute;
  width: 429.0000000000007px;
  height: 90.85632183908046px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #mi-18b90fd2-Content_grid_5 {
  position: absolute;
  width: 429.0000000000007px;
  height: 90.85632183908046px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(1.8369701987210297E-16px -1.0px 5px rgba(116,116,116,0.3));
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #mi-18b90fd2-Content_grid_5 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #mi-18b90fd2-Content_grid_5 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #012A4A;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #012A4A;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #012A4A;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #012A4A;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #mi-18b90fd2-Cell_50 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #mi-18b90fd2-Cell_50 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #mi-18b90fd2-Cell_50 .verticalalign {
  vertical-align: middle;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #mi-18b90fd2-Cell_50 .borderLayer {
  border-left-width: 1.0px;
  border-top-width: 1.0px;
  border-bottom-width: 1.0px;
  border-right-width: 1.0px;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #mi-18b90fd2-Cell_50 {
  width: 25.062656641604004%;
  height: 100.00000000000003%;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #mi-18b90fd2-Cell_50 > .cellContainerChild > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #012A4A;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #012A4A;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #012A4A;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #012A4A;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #mi-18b90fd2-Cell_50 .Cell_50 > *:last-child {
  margin-bottom: 0;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #mi-18b90fd2-Cell_50 .Cell_50 > * {
  margin-bottom: 13px;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #mi-18b90fd2-Text_25 {
  width: 37.391998291015625px;
  min-height: 14.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat_26.0.0_google',Arial;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #mi-18b90fd2-Text_25 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #mi-18b90fd2-Text_25 .valign {
  vertical-align: top;
  text-align: left;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #mi-18b90fd2-Text_25 span {
  color: #818181;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 9.0pt;
  font-weight: 500;
  text-transform: none;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #mi-18b90fd2-Text_25 span#rtr-mi-18b90fd2-Text_25_0 {
  color: #818181;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 9.0pt;
  font-weight: 500;
  text-transform: none;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #mi-18b90fd2-Cell_58 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #mi-18b90fd2-Cell_58 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #mi-18b90fd2-Cell_58 .verticalalign {
  vertical-align: bottom;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #mi-18b90fd2-Cell_58 .borderLayer {
  border-left-width: 1.0px;
  border-top-width: 1.0px;
  border-bottom-width: 1.0px;
  border-right-width: 1.0px;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #mi-18b90fd2-Cell_58 {
  width: 25.062656641604004%;
  height: 100.00000000000003%;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #mi-18b90fd2-Cell_58 > .cellContainerChild > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #012A4A;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #012A4A;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #012A4A;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #012A4A;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #mi-18b90fd2-Cell_58 .Cell_58 > *:last-child {
  margin-bottom: 0;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #mi-18b90fd2-Cell_58 .Cell_58 > * {
  margin-bottom: 13px;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #mi-18b90fd2-Text_27 {
  width: 45.79199981689453px;
  min-height: 14.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat_26.0.0_google',Arial;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #mi-18b90fd2-Text_27 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #mi-18b90fd2-Text_27 .valign {
  vertical-align: top;
  text-align: left;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #mi-18b90fd2-Text_27 span {
  color: #818181;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 9.0pt;
  font-weight: 500;
  text-transform: none;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #mi-18b90fd2-Text_27 span#rtr-mi-18b90fd2-Text_27_0 {
  color: #818181;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 9.0pt;
  font-weight: 500;
  text-transform: none;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #mi-18b90fd2-Cell_62 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #mi-18b90fd2-Cell_62 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #mi-18b90fd2-Cell_62 .verticalalign {
  vertical-align: middle;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #mi-18b90fd2-Cell_62 .borderLayer {
  border-left-width: 1.0px;
  border-top-width: 1.0px;
  border-bottom-width: 1.0px;
  border-right-width: 1.0px;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #mi-18b90fd2-Cell_62 {
  width: 25.062656641604004%;
  height: 100.00000000000003%;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #mi-18b90fd2-Cell_62 > .cellContainerChild > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #012A4A;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #012A4A;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #012A4A;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #012A4A;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #mi-18b90fd2-Cell_62 .Cell_62 > *:last-child {
  margin-bottom: 0;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #mi-18b90fd2-Cell_62 .Cell_62 > * {
  margin-bottom: 13px;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #mi-18b90fd2-Cell_64 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #mi-18b90fd2-Cell_64 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #mi-18b90fd2-Cell_64 .verticalalign {
  vertical-align: middle;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #mi-18b90fd2-Cell_64 .borderLayer {
  border-left-width: 1.0px;
  border-top-width: 1.0px;
  border-bottom-width: 1.0px;
  border-right-width: 1.0px;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #mi-18b90fd2-Cell_64 {
  width: 25.062656641604004%;
  height: 100.00000000000003%;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #mi-18b90fd2-Cell_64 > .cellContainerChild > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #012A4A;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #012A4A;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #012A4A;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #012A4A;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #mi-18b90fd2-Cell_64 .Cell_64 > *:last-child {
  margin-bottom: 0;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #mi-18b90fd2-Cell_64 .Cell_64 > * {
  margin-bottom: 13px;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #mi-18b90fd2-Path_37 {
  position: absolute;
  width: 39.45702028274537px;
  height: 37.53418064117431px;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #mi-18b90fd2-Text_31 {
  position: absolute;
  width: 47.0px;
  min-height: 16.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat_31.0.0_google',Arial;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #mi-18b90fd2-Text_31 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #mi-18b90fd2-Text_31 .valign {
  vertical-align: top;
  text-align: center;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #mi-18b90fd2-Text_31 span {
  color: #012A4A;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat_31.0.0_google',Arial;
  font-size: 9.0pt;
  font-weight: 500;
  text-transform: none;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #mi-18b90fd2-Text_31 span#rtr-mi-18b90fd2-Text_31_0 {
  color: #012A4A;
  text-decoration: none;
  font-family: 'Montserrat_31.0.0_google',Arial;
  font-size: 9.0pt;
  font-weight: 500;
  text-transform: none;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #mi-18b90fd2-Path_838 {
  position: absolute;
  width: 44.000000000000014px;
  height: 37.5541248115768px;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #mi-18b90fd2-Text_32 {
  position: absolute;
  width: 107.50000000000034px;
  min-height: 28.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat_31.0.0_google',Arial;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #mi-18b90fd2-Text_32 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #mi-18b90fd2-Text_32 .valign {
  vertical-align: top;
  text-align: center;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #mi-18b90fd2-Text_32 span {
  color: #012A4A;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat_31.0.0_google',Arial;
  font-size: 7.5pt;
  font-weight: 500;
  text-transform: none;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #mi-18b90fd2-Text_32 span#rtr-mi-18b90fd2-Text_32_0 {
  color: #012A4A;
  text-decoration: none;
  font-family: 'Montserrat_31.0.0_google',Arial;
  font-size: 7.5pt;
  font-weight: 500;
  text-transform: none;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #mi-18b90fd2-Path_50 {
  position: absolute;
  width: 41.05116120585842px;
  height: 33.68115806579583px;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #mi-18b90fd2-Text_33 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat_26.0.0_google',Arial;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #mi-18b90fd2-Text_33 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #mi-18b90fd2-Text_33 .valign {
  vertical-align: top;
  text-align: left;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #mi-18b90fd2-Text_33 span {
  color: #012A4A;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 9.0pt;
  font-weight: 500;
  text-transform: none;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #mi-18b90fd2-Text_33 span#rtr-mi-18b90fd2-Text_33_0 {
  color: #012A4A;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 9.0pt;
  font-weight: 500;
  text-transform: none;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #mi-18b90fd2-Text_34 {
  position: absolute;
  width: 108.00000000000068px;
  min-height: 20.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat_26.0.0_google',Arial;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #mi-18b90fd2-Text_34 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #mi-18b90fd2-Text_34 .valign {
  vertical-align: top;
  text-align: center;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #mi-18b90fd2-Text_34 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 6.0pt;
  font-weight: 500;
  text-transform: none;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #mi-18b90fd2-Text_34 span#rtr-mi-18b90fd2-Text_34_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 6.0pt;
  font-weight: 500;
  text-transform: none;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #mi-18b90fd2-Path_32 {
  position: absolute;
  width: 46.00000000000003px;
  height: 25.027718652081134px;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #mi-18b90fd2-Path_33 {
  position: absolute;
  width: 12.0px;
  height: 22.469083246294346px;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #mi-18b90fd2-Circle_2 {
  position: absolute;
  width: 6.000039990000914px;
  height: 7.140207159280074px;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Path_27 {
  position: absolute;
  width: 18.760769367217904px;
  height: 18.91898012161252px;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Input_text_1 input::-webkit-input-placeholder {
  color: #000000;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Input_text_1 input::-moz-placeholder {
  color: #000000;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Input_text_1 input:-moz-placeholder {
  color: #000000;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Input_text_1 input:-ms-input-placeholder {
  color: #000000;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Input_text_1 {
  position: absolute;
  width: 371.8493107031028px;
  height: 34.978747740480856px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Input_text_1 .valign {
  vertical-align: middle;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Input_text_1 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto_32.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Input_text_1 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Input_text_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Input_text_1 > .borderLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Input_text_1 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Input_text_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 35px;
  padding-bottom: 0px;
  padding-left: 33px;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Path_28 {
  position: absolute;
  width: 16.219697952270508px;
  height: 16.377399444580135px;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Path_30 {
  position: absolute;
  width: 11.999999999999886px;
  height: 17.26966968749747px;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d #s-Path_31 {
  position: absolute;
  width: 18.0px;
  height: 17.99981996731094px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-022f79e6-32b2-4c25-84c9-f2a631cad33d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}